@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 3.4375rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.4375rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.875rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Muli', sans-serif;
  font-size: 1.875rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.75rem;
    font-size: calc( 1.853125rem + (3.4375 - 1.853125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.853125rem + (3.4375 - 1.853125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 6px;
}
.btn-md {
  padding: 15px 20px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 25px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #4f87fb !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #6d7a8c !important;
}
.bg-warning {
  background-color: #e6ecf2 !important;
}
.bg-danger {
  background-color: #ececec !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4f87fb !important;
  border-color: #4f87fb !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #0654f8 !important;
  border-color: #0654f8 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0654f8 !important;
  border-color: #0654f8 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #130947 !important;
  border-color: #130947 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #010003 !important;
  border-color: #010003 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #010003 !important;
  border-color: #010003 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #6d7a8c !important;
  border-color: #6d7a8c !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c5561 !important;
  border-color: #4c5561 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c5561 !important;
  border-color: #4c5561 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #e6ecf2 !important;
  border-color: #e6ecf2 !important;
  color: #4a6d8f !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #4a6d8f !important;
  background-color: #b4c6d8 !important;
  border-color: #b4c6d8 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4a6d8f !important;
  background-color: #b4c6d8 !important;
  border-color: #b4c6d8 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: #6d6d6d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #054cdf;
  color: #054cdf;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #4f87fb;
  border-color: #4f87fb;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4f87fb !important;
  border-color: #4f87fb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #130947;
  border-color: #130947;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #130947 !important;
  border-color: #130947 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #404853;
  color: #404853;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #6d7a8c;
  border-color: #6d7a8c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6d7a8c !important;
  border-color: #6d7a8c !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #a3b9cf;
  color: #a3b9cf;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #4a6d8f;
  background-color: #e6ecf2;
  border-color: #e6ecf2;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4a6d8f !important;
  background-color: #e6ecf2 !important;
  border-color: #e6ecf2 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #b9b9b9;
  color: #b9b9b9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #6d6d6d;
  background-color: #ececec;
  border-color: #ececec;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6d6d6d !important;
  background-color: #ececec !important;
  border-color: #ececec !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #4f87fb !important;
}
.text-secondary {
  color: #130947 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #6d7a8c !important;
}
.text-warning {
  color: #e6ecf2 !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #054cdf !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #404853 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a3b9cf !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6d7a8c;
}
.alert-warning {
  background-color: #e6ecf2;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4f87fb;
  border-color: #4f87fb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4f87fb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b4bbc5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #4f87fb;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.btn-primary:hover {
  color: #4f87fb !important;
  background: white !important;
  border-color: white !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4f87fb;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4f87fb;
  border-bottom-color: #4f87fb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4f87fb !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #130947 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234f87fb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.is-builder .cid-rXg3Jffo9F .navbar {
  padding-top: 20px !important;
}
.cid-rXg3Jffo9F .navbar {
  padding: 0.5rem 0;
  background: #ffffff;
  -webkit-transition: none;
  transition: none;
  min-height: 77px;
}
@media (min-width: 1200px) {
  .cid-rXg3Jffo9F .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 0.835em 2.5385em 0.835em 3.5385em !important;
    margin: 0 !important;
  }
  .cid-rXg3Jffo9F .navbar .dropdown .dropdown-menu .dropdown-item:hover {
    padding: 0.835em 2.5385em 0.835em 3.8385em !important;
  }
}
.cid-rXg3Jffo9F .menu-logo {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  margin-right: auto;
}
.cid-rXg3Jffo9F .menu-logo .navbar-brand {
  display: flex;
  margin-left: 4rem;
  padding: 0.5rem 0;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-box-align: center;
  align-items: center;
}
.cid-rXg3Jffo9F .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-rXg3Jffo9F .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rXg3Jffo9F .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  -webkit-transition: font-size 0.25s;
  transition: font-size 0.25s;
}
.cid-rXg3Jffo9F .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rXg3Jffo9F .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  -webkit-transition: font-size 0.25s;
  transition: font-size 0.25s;
}
.cid-rXg3Jffo9F .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rXg3Jffo9F a {
  font-style: normal;
}
.cid-rXg3Jffo9F .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
}
.cid-rXg3Jffo9F .nav-item a {
  padding: 0.4rem 0 !important;
}
.cid-rXg3Jffo9F .dropdown-item:before {
  color: #ffffff;
  font-family: Material-Design-Icons !important;
  content: "\e716";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1.125rem;
  top: 1.1rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rXg3Jffo9F .dropdown-item:hover:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  width: 16px;
}
.cid-rXg3Jffo9F .content-text {
  margin-bottom: 0;
}
.cid-rXg3Jffo9F .navbar-nav {
  position: relative;
  min-height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.cid-rXg3Jffo9F .navbar-nav li:first-child > a {
  color: #4f87fb;
}
.cid-rXg3Jffo9F .navbar-nav li:last-child > a::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  right: -9px;
  margin-top: -10px;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.46);
  margin-right: 12px;
  width: 0px;
  height: 0px;
}
@media (min-width: 1200px) {
  .cid-rXg3Jffo9F .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #4f87fb;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rXg3Jffo9F .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
  .cid-rXg3Jffo9F .navbar-nav .nav-item a {
    margin: 0 1.1rem !important;
  }
}
@media (max-width: 1200px) {
  .cid-rXg3Jffo9F .navbar-nav .nav-item a {
    margin: 0 !important;
  }
}
.cid-rXg3Jffo9F .navbar-nav .nav-item span {
  padding-right: 0.1rem;
}
.cid-rXg3Jffo9F .display-4 > .mbr-iconfont {
  font-size: 1.23em;
}
.cid-rXg3Jffo9F .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rXg3Jffo9F .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rXg3Jffo9F .content-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.cid-rXg3Jffo9F .content-link:first-child {
  padding-left: 1.3rem;
}
@media (max-width: 1200px) {
  .cid-rXg3Jffo9F .content-link {
    display: none;
  }
}
.cid-rXg3Jffo9F .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.cid-rXg3Jffo9F .navbar-buttons.mbr-section-btn > .mbr-iconfont {
  font-size: 17px !important;
  margin-right: 13px;
}
.cid-rXg3Jffo9F .nav-dropdown .link {
  font-weight: 600;
}
.cid-rXg3Jffo9F .nav-dropdown .link.display-4 {
  font-size: 15px;
}
.cid-rXg3Jffo9F .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rXg3Jffo9F .content-left-side {
  text-align: center;
  padding-top: 3px;
}
@media (max-width: 575px) {
  .cid-rXg3Jffo9F .content-left-side {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .cid-rXg3Jffo9F .content-left-side .content-link {
    font-size: 0.8rem;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
.cid-rXg3Jffo9F .content-right-side {
  text-align: center;
}
@media (max-width: 575px) {
  .cid-rXg3Jffo9F .content-right-side {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .cid-rXg3Jffo9F .content-right-side .content-link {
    font-size: 0.8rem;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
.cid-rXg3Jffo9F .content-right-side .icons-block {
  padding-bottom: 5px;
  padding-left: 17px;
}
.cid-rXg3Jffo9F .content-right-side .content-link {
  margin-left: 1rem;
}
.cid-rXg3Jffo9F .content-right-side .content-link span {
  vertical-align: middle;
  padding-bottom: 2px;
}
.cid-rXg3Jffo9F .menu-content-top {
  display: none;
  padding: 1rem 4rem 1rem 3.8rem;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-rXg3Jffo9F .content-left-side .content-link {
  margin-left: 1rem;
}
.cid-rXg3Jffo9F .content-left-side .content-link span {
  vertical-align: middle;
  padding-bottom: 2px;
}
@media (max-width: 1200px) {
  .cid-rXg3Jffo9F .content-left-side {
    text-align: center;
    padding-bottom: 1rem;
  }
  .cid-rXg3Jffo9F .dropdown-item {
    padding: 0.235em 0 !important;
    margin: 0 !important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }
  .cid-rXg3Jffo9F .dropdown-item:before {
    display: none;
  }
  .cid-rXg3Jffo9F .menu-logo {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .cid-rXg3Jffo9F .menu-bottom {
    width: 100%;
    padding: 0 1rem;
    display: block;
  }
  .cid-rXg3Jffo9F img {
    height: 3.8rem !important;
  }
  .cid-rXg3Jffo9F .btn {
    display: flex;
  }
  .cid-rXg3Jffo9F button.navbar-toggler {
    display: block;
  }
  .cid-rXg3Jffo9F .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-rXg3Jffo9F .navbar-toggleable-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .cid-rXg3Jffo9F .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rXg3Jffo9F .navbar-collapse.collapsing,
  .cid-rXg3Jffo9F .navbar-collapse.show {
    display: block !important;
  }
  .cid-rXg3Jffo9F .navbar-collapse.collapsing .navbar-nav,
  .cid-rXg3Jffo9F .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rXg3Jffo9F .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rXg3Jffo9F .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
    padding: 0.5rem 0;
  }
  .cid-rXg3Jffo9F .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rXg3Jffo9F .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rXg3Jffo9F .navbar-collapse.collapsing .navbar-buttons,
  .cid-rXg3Jffo9F .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rXg3Jffo9F .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rXg3Jffo9F .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rXg3Jffo9F .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity, padding, height;
    transition-property: opacity, padding, height;
  }
  .cid-rXg3Jffo9F .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rXg3Jffo9F .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rXg3Jffo9F .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
}
@media (min-width: 1200px) {
  .cid-rXg3Jffo9F .navbar .menu-content-top {
    display: block;
  }
  .cid-rXg3Jffo9F .menu-content-top .row {
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .cid-rXg3Jffo9F .content-right-side {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-basis: 70%;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: right;
  }
  .cid-rXg3Jffo9F .content-left-side {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-basis: 70%;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: right;
  }
  .cid-rXg3Jffo9F .menu-content-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .cid-rXg3Jffo9F .menu-bottom {
    display: flex;
  }
  .cid-rXg3Jffo9F .navbar {
    display: block;
    padding: 0;
  }
  .cid-rXg3Jffo9F .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .cid-rXg3Jffo9F .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex !important;
    -webkit-box-align: center;
    align-items: center;
    z-index: 101;
    min-height: 76px;
  }
  .cid-rXg3Jffo9F .navbar-toggler {
    display: none;
  }
}
.cid-rXg3Jffo9F .navbar-short .menu-content-top {
  border: none;
  display: none;
}
.cid-rXg3Jffo9F .btn {
  padding: 15px 30px;
  font-weight: 800;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  border-width: 1px;
  box-shadow: none;
}
.cid-rXg3Jffo9F .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rXg3Jffo9F .btn.display-4 {
  letter-spacing: 0.5px;
  font-size: 13px;
  line-height: 13px;
}
.cid-rXg3Jffo9F .navbar-toggleable-sm .navbar-collapse {
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-right: 4rem;
  width: 100%;
}
.cid-rXg3Jffo9F .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rXg3Jffo9F .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rXg3Jffo9F .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rXg3Jffo9F .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  border-top: 3px solid #4f87fb;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  min-width: 16.875rem;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 1200px) {
  .cid-rXg3Jffo9F .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rXg3Jffo9F .dropdown .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rXg3Jffo9F .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-rXg3Jffo9F .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #4f87fb;
  color: #ffffff;
}
.cid-rXg3Jffo9F .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rXg3Jffo9F .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rXg3Jffo9F .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  color: #ffffff;
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rXg3Jffo9F .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rXg3Jffo9F .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rXg3Jffo9F .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rXg3Jffo9F .navbar.navbar-short {
  min-height: 60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cid-rXg3Jffo9F .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  -webkit-transition: font-size 0.25s;
  transition: font-size 0.25s;
}
.cid-rXg3Jffo9F .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rXg3Jffo9F .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rXg3Jffo9F .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rXg3Jffo9F .navbar.navbar-short .navbar-nav {
  min-height: 60px;
}
.cid-rXg3Jffo9F button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cid-rXg3Jffo9F button.navbar-toggler:focus {
  outline: none;
}
.cid-rXg3Jffo9F button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-rXg3Jffo9F button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cid-rXg3Jffo9F button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.cid-rXg3Jffo9F button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.cid-rXg3Jffo9F button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cid-rXg3Jffo9F nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cid-rXg3Jffo9F nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.cid-rXg3Jffo9F nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.cid-rXg3Jffo9F nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cid-rXg3Jffo9F .collapsed.navbar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.cid-rXg3Jffo9F .collapsed .menu-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.cid-rXg3Jffo9F .collapsed .menu-logo {
  margin-right: 0;
}
.cid-rXg3Jffo9F .collapsed .btn {
  display: flex;
}
.cid-rXg3Jffo9F .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rXg3Jffo9F .collapsed .navbar-collapse.collapsing,
.cid-rXg3Jffo9F .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rXg3Jffo9F .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rXg3Jffo9F .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rXg3Jffo9F .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rXg3Jffo9F .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rXg3Jffo9F .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rXg3Jffo9F .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rXg3Jffo9F .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rXg3Jffo9F .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rXg3Jffo9F .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rXg3Jffo9F .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .cid-rXg3Jffo9F .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 3.8rem  - 3.5rem);
  }
  .cid-rXg3Jffo9F .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rXg3Jffo9F .collapsed button.navbar-toggler {
  display: block;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rXg3Jffo9F .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-rXg3Jffo9F .collapsed .navbar-toggleable-sm {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.cid-rXg3Jffo9F .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: opacity, padding, height;
  transition-property: opacity, padding, height;
}
.cid-rXg3Jffo9F .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rXg3Jffo9F .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rXg3Jffo9F .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-rXg3Jffo9F .collapsed .dropdown-item:before {
  display: none;
}
.cid-rXg3Jffo9F .navbar-dropdown {
  flex-wrap: nowrap;
}
.cid-rXg3Jffo9F .navbar-collapse {
  flex-basis: auto;
  display: flex;
}
.cid-rXg3Jffo9F .nav-link:focus {
  outline: none;
}
.cid-rXg3Jffo9F .navbar-toggler {
  position: relative;
}
.cid-rXg3Jffo9F .dropdown-item.active,
.cid-rXg3Jffo9F .dropdown-item:active {
  background-color: #ffffff;
  color: #ffffff;
}
.cid-rXg3Jffo9F .nav-link:hover,
.cid-rXg3Jffo9F .dropdown-item:hover {
  color: #4f87fb;
}
.cid-rXg45r4IX3 {
  background-image: url("../../../assets/images/corridor-blur-448x299.jpeg");
}
.cid-rXg45r4IX3 .mbr-section-subtitle {
  color: #4f87fb;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
}
.cid-rXg45r4IX3 .mbr-section-title {
  color: #130947;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: -1px;
}
.cid-rXg45r4IX3 .mbr-section-title .accent-word {
  color: #4f87fb;
}
.cid-rXg45r4IX3 .mbr-text {
  color: #6d7a8c;
}
.cid-rXg45r4IX3 .content-link {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: #130947;
  margin-left: 0.6rem;
}
.cid-rXg45r4IX3 .content-link span {
  margin-right: 15px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 100%;
  color: #4f87fb;
  background-color: #ffffff;
  font-size: 2.475rem;
}
.cid-rXg45r4IX3 .mbr-section-btn {
  display: flex;
}
.cid-rXg45r4IX3 .mbr-section-btn .btn {
  border-radius: 4px;
  line-height: 24px;
  letter-spacing: 1px;
  margin: 0.4rem 1rem 0.4rem 0rem !important;
  padding: 15px 55px !important;
}
.cid-rXg45r4IX3 .mbr-section-btn .btn-primary:hover {
  background-color: #130947 !important;
  border-color: #130947 !important;
  color: #ffffff !important;
}
.cid-rXg45r4IX3 .mbr-section-btn.display-4,
.cid-rXg45r4IX3 .btn.display-4 {
  font-size: 12px !important;
}
.cid-rXg45r4IX3 .video-wrap {
  cursor: pointer;
  margin-left: 14px;
}
.cid-rXg45r4IX3 .video-wrap .mbr-media {
  z-index: 70;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.cid-rXg45r4IX3 .video-wrap .mbr-media span {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  color: #4f87fb;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cid-rXg45r4IX3 .video-wrap .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rXg45r4IX3 .video-wrap .icon-wrap {
  background-color: #ffffff;
  width: 3.7em;
  height: 3.7em;
  border-radius: 50%;
  max-width: 100% !important;
  line-height: 1.6em !important;
  text-align: center;
  display: inline-block;
  border: 2px solid transparent;
  box-sizing: content-box;
  position: relative;
}
.cid-rXg45r4IX3 .video-wrap .mbr-text {
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0px;
  color: #130947;
}
.cid-rXg45r4IX3 .video-wrap .mbr-text.display-4 {
  font-size: 13px;
}
.cid-rXg45r4IX3 .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rXg45r4IX3 .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rXg45r4IX3 .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rXg45r4IX3 a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rXg45r4IX3 a.close:hover {
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-rXg45r4IX3 .separator,
  .cid-rXg45r4IX3 .sep-holder,
  .cid-rXg45r4IX3 .sep-line {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .cid-rXg45r4IX3 .buttons-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .cid-rXg45r4IX3 .buttons-wrap .video-wrap {
    margin-left: 0;
    margin-top: 15px;
  }
}
.cid-rXg46GMs8M {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #e6ecf2;
}
.cid-rXg46GMs8M .container {
  margin-bottom: 70px;
}
.cid-rXg46GMs8M .container .mbr-section-subtitle {
  color: #4f87fb;
  font-weight: 800;
  margin-bottom: 10px;
}
.cid-rXg46GMs8M .container .mbr-section-subtitle.display-4 {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 2px;
}
.cid-rXg46GMs8M .container .mbr-section-title,
.cid-rXg46GMs8M .container .signature {
  color: #130947;
}
.cid-rXg46GMs8M .container .mbr-section-title {
  margin-bottom: 20px;
}
.cid-rXg46GMs8M .container .mbr-section-title.display-2 {
  line-height: 48px;
  letter-spacing: -0.5px;
}
.cid-rXg46GMs8M .container .mbr-text {
  line-height: 28px;
  letter-spacing: 0;
  color: #6d7a8c;
}
.cid-rXg46GMs8M .carousel-item {
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 0rem;
}
.cid-rXg46GMs8M .carousel-item > div {
  width: 100%;
}
.cid-rXg46GMs8M .carousel-item.active,
.cid-rXg46GMs8M .carousel-item-next,
.cid-rXg46GMs8M .carousel-item-prev {
  display: flex;
}
.cid-rXg46GMs8M .carousel-indicators {
  left: 0%;
  margin: 20px auto 0;
  -webkit-box-align: center;
  align-items: center;
  bottom: -40px !important;
}
.cid-rXg46GMs8M .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #4f87fb !important;
}
.cid-rXg46GMs8M .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-color: #ffffff;
  font-size: 2rem;
  opacity: 0.5;
  border-width: 0px;
  border: 1px solid #e5e8ef;
}
.cid-rXg46GMs8M .carousel-indicators li:hover {
  opacity: 1;
}
@media (max-width: 991px) {
  .cid-rXg46GMs8M .carousel-controls {
    display: none;
  }
}
.cid-rXg46GMs8M .carousel-controls a {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-size: 1.2rem;
}
.cid-rXg46GMs8M .carousel-controls a span {
  padding: 15px;
  border-radius: 50%;
  color: #ffffff;
  background: #4f87fb;
  opacity: 0.9;
}
.cid-rXg46GMs8M .carousel-controls a:hover span {
  opacity: 1;
}
@media (min-width: 992px) {
  .cid-rXg46GMs8M .carousel-item {
    padding: 0 2rem;
  }
}
@media (min-width: 768px) {
  .cid-rXg46GMs8M .carousel-controls a {
    width: 5%;
  }
}
.cid-rXg46GMs8M a.text-white:hover,
.cid-rXg46GMs8M a.text-white:focus {
  color: #000000 !important;
}
.cid-rXg46GMs8M .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 21.7px;
}
.cid-rXg46GMs8M .card {
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #4f87fb;
  border-radius: 4px;
  padding: 40px 50px 20px;
}
@media (max-width: 991px) {
  .cid-rXg46GMs8M .card {
    padding: 40px 10px 20px;
  }
}
.cid-rXg46GMs8M .card:hover span,
.cid-rXg46GMs8M .card:focus span {
  background-color: #4f87fb;
  color: #ffffff;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.cid-rXg46GMs8M .card span {
  margin-right: 15px;
  margin-left: 20px;
  padding: 30px;
  border-radius: 100%;
  color: #4f87fb;
  background-color: #f1f6fb;
  font-size: 50px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  margin-bottom: 25px;
}
.cid-rXg46GMs8M .card .signature {
  padding-bottom: 20px;
  margin-bottom: 30px;
  color: #130947;
  font-weight: 700;
}
.cid-rXg46GMs8M .card .signature.display-7 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
}
.cid-rXg46GMs8M .card .card-text {
  margin-bottom: 25px;
  color: #6d7a8c;
  font-weight: 400;
}
.cid-rXg46GMs8M .card .card-text.display-7 {
  font-size: 16px;
  line-height: 1.5;
}
.cid-rXg46GMs8M .card .link {
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #4f87fb;
  background-color: transparent !important;
}
.cid-rXg46GMs8M .card .link:after {
  background-color: currentColor;
  content: "";
  position: absolute;
  bottom: 0px;
  left: auto;
  right: 0;
  height: 2px;
  width: 0%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.cid-rXg46GMs8M .card .link::before {
  width: 100%;
  content: "";
  position: absolute;
  bottom: 0px;
  left: auto;
  right: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.cid-rXg46GMs8M .card .link:hover:after,
.cid-rXg46GMs8M .card .link:focus:after {
  width: 100%;
  left: 0;
  right: auto;
}
.cid-rXg46GMs8M .card .link:hover:before,
.cid-rXg46GMs8M .card .link:focus:before {
  width: 100%;
}
.cid-rXg4zZYakQ {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #4f87fb;
  background: linear-gradient(to bottom, #4f87fb, #0053f9);
}
.cid-rXg4zZYakQ .mbr-section-subtitle {
  color: #ffffff;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  width: 100%;
}
.cid-rXg4zZYakQ .mbr-section-title {
  color: #ffffff;
  font-weight: 700;
  width: 100%;
}
.cid-rXg4zZYakQ .mbr-section-title.display-2 {
  font-size: 48px;
  line-height: 55px;
  letter-spacing: -0.5px;
}
.cid-rXg4zZYakQ .mbr-text {
  color: #ffffff;
  font-weight: 400;
  width: 100;
}
.cid-rXg4zZYakQ .mbr-text.display-7 {
  font-size: 20px;
  line-height: 30px;
}
.cid-rXg4zZYakQ .content-link {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: #130947;
  margin-left: 0.6rem;
}
.cid-rXg4zZYakQ .content-link span {
  margin-right: 15px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 100%;
  color: #ffffff;
  background-color: #ffffff;
  font-size: 2.475rem;
}
.cid-rXg4zZYakQ .mbr-section-btn .btn {
  border-radius: 3px;
  line-height: 24px;
  letter-spacing: 1px;
  padding: 12px 40px !important;
  margin-right: 20px;
}
.cid-rXg4zZYakQ .mbr-section-btn.display-4,
.cid-rXg4zZYakQ .btn.display-4 {
  font-size: 12px !important;
}
@media (max-width: 991px) {
  .cid-rXg4zZYakQ .separator,
  .cid-rXg4zZYakQ .sep-holder,
  .cid-rXg4zZYakQ .sep-line {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .cid-rXg4zZYakQ .buttons-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
.cid-rXg4EUdafB {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rXg4EUdafB img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(79, 110, 173, 0.1);
}
.cid-rXg4EUdafB .mbr-section-title {
  text-align: left;
  color: #130947;
  line-height: 36px;
  letter-spacing: -0.5px;
}
.cid-rXg4EUdafB .mbr-text {
  color: #6d7a8c;
  line-height: 1.5;
}
.cid-rXg4EUdafB .mbr-list {
  margin-top: 35px;
  color: #6d7a8c;
}
.cid-rXg4EUdafB .mbr-list .list {
  list-style-type: none;
  padding-left: 0;
}
.cid-rXg4EUdafB .mbr-list .list li {
  margin-bottom: 1rem;
  list-style: ✓;
}
.cid-rXg4EUdafB .mbr-list .list li:before {
  font-weight: 900;
  color: #4f87fb;
  display: inline-block;
  content: "✓";
  text-align: center;
  line-height: 1.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 25px;
  height: 25px;
}
.cid-rXg4lS5Upk {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rXg4lS5Upk .title-text {
  margin-bottom: 70px;
}
.cid-rXg4lS5Upk .title-text .mbr-section-subtitle {
  color: #4f87fb;
  font-weight: 800;
}
.cid-rXg4lS5Upk .title-text .mbr-section-subtitle.display-4 {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 2px;
}
.cid-rXg4lS5Upk .title-text .mbr-section-title {
  color: #130947;
}
.cid-rXg4lS5Upk .title-text .mbr-section-title span {
  font-weight: 900;
}
.cid-rXg4lS5Upk .title-text .mbr-section-title.display-2 {
  line-height: 48px;
  letter-spacing: -0.5px;
}
.cid-rXg4lS5Upk .mbr-iconfont {
  font-family: "Moririse2" !important;
  display: inline-flex;
  -webkit-transform-origin: ;
  transform-origin: ;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 !important;
  font-size: 1.4rem !important;
  color: #222222;
}
.cid-rXg4lS5Upk .mbr-iconfont:before {
  -webkit-transform: scaleY(0) !important;
  transform: scaleY(0) !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cid-rXg4lS5Upk .collapsed .mbr-iconfont {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.cid-rXg4lS5Upk .collapsed .mbr-iconfont:before {
  -webkit-transform: scaleY(1) !important;
  transform: scaleY(1) !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cid-rXg4lS5Upk .accordion-content {
  flex-basis: 100%;
}
.cid-rXg4lS5Upk .panel-group {
  width: 100%;
}
.cid-rXg4lS5Upk .panel-text,
.cid-rXg4lS5Upk .header-text,
.cid-rXg4lS5Upk .mbr-section-subtitle {
  color: #222222;
}
.cid-rXg4lS5Upk .card {
  margin-bottom: 30px;
  margin-top: 30px;
  border: none;
  border-radius: 0 !important;
}
.cid-rXg4lS5Upk .card .card-header {
  border-radius: 0 !important;
  border-bottom: none !important;
  padding: 0;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f1f1f1;
  margin-bottom: 0;
  font-style: normal;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none !important;
  border-radius: 0 !important;
  line-height: normal;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title .sign {
  padding-right: 1rem;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title h4 {
  padding: 17px 42px 17px 35px;
  margin-bottom: 0;
  width: 100%;
  line-height: 28px;
  font-weight: 400 !important;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
  line-height: 1.6 !important;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title .toggle-icon {
  right: 20px;
  position: absolute;
  top: 29px;
  -webkit-transform: none;
  transform: none;
  display: inline-block;
  height: 2px;
  margin-left: 0;
  width: 12px;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title .toggle-icon:before,
.cid-rXg4lS5Upk .card .card-header a.panel-title .toggle-icon:after {
  background: currentColor;
  border: 0;
  box-sizing: border-box;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title .toggle-icon:before {
  height: 12px;
  margin-left: -1px !important;
  width: 2px;
  margin-top: -6px;
  background-color: currentColor;
  border: 0;
  -webkit-transform: none;
  transform: none;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title .toggle-icon:after {
  height: 2px;
  width: 12px;
  margin-left: -6px;
  margin-top: -1px;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title[aria-expanded="true"] {
  background-color: #4f87fb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cid-rXg4lS5Upk .card .card-header a.panel-title[aria-expanded="true"] .header-text,
.cid-rXg4lS5Upk .card .card-header a.panel-title[aria-expanded="true"] .sign {
  color: #ffffff !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cid-rXg4lS5Upk .card .panel-body {
  background: #ffffff;
  padding: 30px 55px 35px 40px !important;
}
.cid-rXg4lS5Upk .card .panel-body .display-4 {
  font-size: 16px;
}
.cid-rXg4lS5Upk .panel-text {
  text-align: left;
}
.cid-rXg4UZTj7v {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rXg4UZTj7v .mbr-text,
.cid-rXg4UZTj7v .mbr-section-title {
  letter-spacing: -0.5px;
}
.cid-rXg4UZTj7v .img span {
  font-size: 80px;
  color: #ffffff;
}
.cid-rXg4UZTj7v .mbr-text,
.cid-rXg4UZTj7v .mbr-section-btn,
.cid-rXg4UZTj7v .mbr-section-title {
  color: #ffffff;
}
.cid-rXg4UZTj7v .mbr-text {
  margin-bottom: 0;
  font-weight: 700;
}
.cid-rXg4UZTj7v .mbr-text.display-7 {
  line-height: 28px;
  letter-spacing: -0.5px;
}
.cid-rXg4UZTj7v .mbr-section-title {
  font-weight: 700;
}
.cid-rXg4UZTj7v .mbr-section-title.display-2 {
  line-height: 50px;
  letter-spacing: -0.5px;
}
.cid-rXg4UZTj7v .btn {
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 1px;
  line-height: 24px;
  border-width: 2px;
}
@media (max-width: 768px) {
  .cid-rXg4UZTj7v .mbr-section-title,
  .cid-rXg4UZTj7v .mbr-text,
  .cid-rXg4UZTj7v .mbr-section-btn {
    text-align: left;
  }
}
.cid-rXg52WVUZR {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #e6ecf2;
}
.cid-rXg52WVUZR .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-rXg52WVUZR input,
.cid-rXg52WVUZR textarea {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 4px;
  min-height: 3rem;
  padding: 20px 10px 20px 20px;
  font-size: 13px;
  color: #130947;
  font-weight: 600;
}
.cid-rXg52WVUZR input:focus,
.cid-rXg52WVUZR textarea:focus {
  border-left: none;
  border-top: none;
  border-right: none;
}
.cid-rXg52WVUZR .form-control,
.cid-rXg52WVUZR .field-input {
  padding: 20px 10px 20px 20px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rXg52WVUZR .form-control:hover,
.cid-rXg52WVUZR .field-input:hover,
.cid-rXg52WVUZR .form-control:focus,
.cid-rXg52WVUZR .field-input:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rXg52WVUZR input::-webkit-input-placeholder,
.cid-rXg52WVUZR textarea::-webkit-input-placeholder {
  color: #6d7a8c;
}
.cid-rXg52WVUZR input:-moz-placeholder,
.cid-rXg52WVUZR textarea:-moz-placeholder {
  color: #6d7a8c;
}
.cid-rXg52WVUZR .jq-selectbox li,
.cid-rXg52WVUZR .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rXg52WVUZR .jq-selectbox li:hover,
.cid-rXg52WVUZR .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rXg52WVUZR .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rXg52WVUZR .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rXg52WVUZR .mbr-subtitle {
  color: #4f87fb;
  font-weight: 800;
}
.cid-rXg52WVUZR .mbr-subtitle.display-4 {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 2px;
}
.cid-rXg52WVUZR .mbr-section-title {
  color: #130947;
  font-weight: 700;
}
.cid-rXg52WVUZR .mbr-text {
  line-height: 28px;
  letter-spacing: 0;
  margin-top: 20px;
  color: #6d7a8c;
}
.cid-rXg52WVUZR .mbr-section-title.display-2 {
  line-height: 48px;
  letter-spacing: -0.5px;
}
.cid-rXg52WVUZR img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-rXg52WVUZR .mbr-form {
  max-width: 550px;
}
.cid-rXg52WVUZR textarea {
  min-height: 150px;
}
.cid-rXg52WVUZR .mbr-form .btn {
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-width: 2px;
  border-radius: 4px;
  border-color: #4f87fb;
  color: #4f87fb;
  padding: 18px 29px;
}
.cid-rXg52WVUZR .mbr-form .btn:hover {
  color: #ffffff;
}
.cid-rXg52WVUZR .second {
  height: fit-content;
}
.cid-rXg52WVUZR .second .inbox {
  position: static;
  bottom: -70px;
  width: 100%;
}
.cid-rXg52WVUZR .second .inbox .inbox-box {
  padding: 36px 20px 36px;
  background-color: #4f87fb;
}
.cid-rXg52WVUZR .second .inbox .inbox-box .info-widget {
  padding-top: 0.5rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
.cid-rXg52WVUZR .second .inbox .inbox-box .info-widget .widget-icon {
  display: inline-block;
  border-radius: 100%;
  padding: 22px;
  background-color: #ffffff;
  font-size: 3.45rem;
  color: #130947;
  margin-right: 15px;
}
.cid-rXg52WVUZR .second .inbox .inbox-box .info-widget .signature {
  width: 40%;
  height: 75px;
  display: inline-block;
  margin-right: 15px;
}
.cid-rXg52WVUZR .second .inbox .inbox-box .info-widget .widget-content {
  display: inline-block;
  vertical-align: baseline;
  text-align: left;
  color: #ffffff;
}
.cid-rXg52WVUZR .second .inbox .inbox-box .info-widget .widget-content .widget-title {
  margin-bottom: 7px;
  letter-spacing: 2px;
  font-weight: 700;
}
.cid-rXg52WVUZR .second .inbox .inbox-box .info-widget .widget-content .widget-title.display-7 {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
}
.cid-rXg52WVUZR .second .inbox .inbox-box .info-widget .widget-content .widget-text {
  margin-bottom: 0;
  font-weight: 700;
}
.cid-rXg52WVUZR .second .inbox .inbox-box .info-widget .widget-content .widget-text.display-5 {
  line-height: 36px;
  letter-spacing: -0.5px;
}
@media (max-width: 768px) {
  .cid-rXg52WVUZR .mbr-section-title {
    text-align: left;
  }
  .cid-rXg52WVUZR .second {
    margin-top: 30px;
  }
}
.cid-rXg5dczG2o {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #130947;
}
@media (max-width: 767px) {
  .cid-rXg5dczG2o .content {
    text-align: center;
  }
  .cid-rXg5dczG2o .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rXg5dczG2o .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rXg5dczG2o .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rXg5dczG2o .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rXg5dczG2o .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rXg5dczG2o .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rXg5dczG2o .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-rXg5dczG2o .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rXg5dczG2o .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rXg5dczG2o .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rXg5dczG2o .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rXg5dczG2o .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
